body {
  font-family: 'Merriweather', serif;
  padding-top: 50px;
}
p {
  font-family: 'Merriweather', serif;
  padding-top: 20px;
}
.signature {
  font-family: 'Rock Salt', cursive;
  font-size: 150%
}
